:root {
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --background: #f0f0f0;
  --main-text: #000000;
  --additional-text: #5c5c5c;
  --accent-color: #28d979;
  --background-block: #ffffff;
  --accent-text-color: #ffffff;
  --background-color-badge: #7e731266;
  --text-badge: #ddf163;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  color: var(--main-text);
}

/* text styles */

.small-text-semibold {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
}

.ordinary-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.ordinary-text-semibold {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

.enlarged-text {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
}

.enlarged-text-semibold {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
}

.larged-text-bold {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
}

/* main styles */

/* .editable {
  border: 1px dashed red;
  cursor: pointer;
} */

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 0px;
}

.resume {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.resume__part {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
}

.resume__part_top {
  min-height: 25vh;
  max-height: 30vh;
}

.resume__part_center {
  height: 50vh;
}

.resume__part_bottom {
  min-height: 50vh;
  max-height: 60vh;
}

.resume__block {
  width: 100%;
  border-radius: 12px;
  background: var(--background);
  padding: 12px;
}

.resume__block_title {
  font-size: 2rem;
  font-weight: 500;
}

/* photo block */

.resume__block_photo {
  flex-basis: 25%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: none;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.resume__block_photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* name block */

.resume__block_name {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
}

.name-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 6px;
  line-height: 1;
}

.name-info > p {
  color: var(--additional-text);
}

/* languages block */

.resume__block_languages {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
}

.languages-info {
  width: 100%;
}

.languages-info__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
  line-height: 1;
}

.languages-info__item {
  position: relative;
  width: 100%;
}

.languages-info__item > button {
  position: absolute;
  top: 0;
  right: 5px;
}

.languages-info__item_block {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.languages-info__item_text {
  width: 6.5rem;
}

.languages-info__item_progress-bar {
  height: 1.5rem;
  border-radius: 3px;
  overflow: hidden;
  flex-grow: 1;
  min-width: 0;
}

.languages-info__item_progress {
  width: 100%;
  height: 100%;
  background: var(--accent-color);
  cursor: grab;
}

/* experience block */

.resume__block_experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex-basis: 80%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) var(--background);
}

.resume__block_experience > h2 {
  align-self: start;
}

.experience-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.experience-info__item {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--background-block);
  padding: 8px;
  border-radius: 10px;
}

.experience-info__item_last {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

.experience-info__item_badge {
  padding: 2px 6px;
  border-radius: 60px;
  color: var(--text-badge);
  background-color: var(--background-color-badge);
  cursor: pointer;
}

.experience-info__item_top-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.experience-info__item_main-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 8px;
}

.experience-info__item_position {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 6px;
  flex-basis: 30%;
}

.experience-info__item_description {
  width: 100%;
  flex-grow: 1;
  flex-basis: 60%;
}

.experience-info__item_description-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding-left: 20px;
  list-style-position: inside;
}

.experience-info__item_description-item {
  list-style: disc;
}

/* tools block */

.resume__block_tools {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-basis: 30%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) var(--background);
}

.tools-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
  padding-top: 1rem;
}

.tools-info__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 16px 4px;
  background-color: var(--background-block);
  border-radius: 6px;
  position: relative;
}

.tools-info__item_title {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  padding: 4px 8px;
  background-color: var(--main-text);
  color: var(--accent-text-color);
  border-radius: 20px;
  align-self: center;
}

.tools-info__item_description {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
  justify-items: center;
  align-items: center;
}

.tools-info__item_description > img {
  width: 50px;
  height: 50px;
}

/* education block */

.resume__block_education {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) var(--background);
}

.resume__block_education > h2 {
  align-self: start;
}

.education-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.education-info__item {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  background-color: var(--background-block);
  padding: 8px;
  border-radius: 10px;
  flex: 1 1 calc(50% - 5px);
  max-width: calc(50% - 5px);
}

.education-info__item_favorite {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

.favorite-icon[data-status='false'] {
  /* filter: opacity(0.7); */
  animation: shake 2.5s infinite;
}

.favorite-icon {
  cursor: pointer;
}

.education-info__item_top {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.education-info__item_top > img {
  width: 1.5rem;
  height: 1.5rem;
}

.education-info__item_main {
  width: 100%;
}

.education-info__item_tags {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  gap: 4px;
}

/* .education-info__item_tag::before {
  content: '#';
  margin-right: 2px;
} */

/* sensitive-info block */

.sensitive-info {
  flex-basis: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* interests block */

.resume__block_interests {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex-grow: 1;
}

.resume__block_interests > h2 {
  align-self: start;
}

.interests-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.interests-info__item {
  padding: 4px 8px;
  background-color: var(--background-block);
  color: var(--main-text);
  border-radius: 20px;
}

/* contacts block */

.resume__block_contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: var(--main-text);
  color: var(--accent-text-color);
}

.resume__block_contacts > h2 {
  align-self: start;
}

.contacts-info {
  width: 100%;
}

.contacts-info__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.contacts-info__item > p::after {
  content: ':';
  margin-left: 4px;
}

.contacts-info__item > a {
  color: var(--accent-text-color);
  text-decoration: none;
}

/* buttons style */

.control__edit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 100%;
  gap: 5px;
}

.control__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 100%;
  gap: 20px;
}

.control__checkbox_container {
  width: 51px;
  height: 31px;
  position: relative;
}

.control__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.control__switch {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #e9e9eb;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.control__slider {
  width: 27px;
  height: 27px;
  position: absolute;
  left: calc(50% - 27px / 2 - 10px);
  top: calc(50% - 27px / 2);
  border-radius: 50%;
  background: #ffffff;
  box-shadow:
    0px 3px 8px rgba(0, 0, 0, 0.15),
    0px 3px 1px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.control__checkbox:checked + .control__switch {
  background-color: var(--accent-color);
}

.control__checkbox:checked + .control__switch .control__slider {
  left: calc(50% - 27px / 2 + 10px);
  top: calc(50% - 27px / 2);
}

.control__button {
  position: relative;
  background-color: var(--main-text);
  color: var(--accent-text-color);
  width: 150px;
  height: 32px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  overflow: hidden;
}

.control__button:hover {
  box-shadow: var(--accent-color) 2px 2px 0px 0px;
}

.ripple-effect {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  transform: scale(0);
  animation: ripple-animation 1s linear;
}

.ripple-effect-green {
  position: absolute;
  border-radius: 50%;
  background: hsla(147, 70%, 50%, 0.5);
  transform: scale(0);
  animation: ripple-animation 1s linear;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.block__button {
  background-color: var(--additional-text);
  color: var(--accent-text-color);
  padding: 2px 6px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.block__button:hover {
  background-color: var(--accent-text-color);
  color: var(--additional-text);
}

[contentEditable='true'] {
  animation: shake 2.5s infinite;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0) rotate(0deg);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-2px) rotate(-0.5deg);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(2px) rotate(0.5deg);
  }
}

/* media queries */

@media (max-width: 980px) {
  .resume__part_top {
    flex-wrap: wrap;
    gap: 10px;
    align-items: stretch;
    justify-content: stretch;
    max-height: none;
  }

  .resume__block_languages {
    flex-basis: 100%;
  }

  .resume__block_photo {
    flex-shrink: 1;
  }

  .resume__block_name {
    flex-shrink: 1;
    flex-basis: 40%;
  }

  .tools-info__item_description > img {
    width: 25px;
    height: 25px;
  }

  .resume__part_bottom {
    flex-wrap: wrap;
    max-height: none;
  }

  .resume__block_education {
    flex-basis: 100%;
  }

  .sensitive-info {
    flex-basis: 100%;
  }
}

@media (max-width: 540px) {
  html {
    font-size: 12px;
  }

  .resume__block_languages {
    flex-basis: 100%;
  }

  .resume__block_photo {
    flex-basis: 100%;
  }

  .resume__block_name {
    flex-basis: 100%;
  }

  .resume__part_center {
    flex-wrap: wrap;
    gap: 10px;
    height: auto;
  }

  .resume__block_experience {
    flex-basis: 100%;
  }

  .resume__block_tools {
    flex-basis: 100%;
  }

  .tools-info__item_description > img {
    width: 50px;
    height: 50px;
  }

  .resume__part_bottom {
    flex-wrap: wrap;
    max-height: none;
  }

  .resume__block_education {
    flex-basis: 100%;
  }

  .sensitive-info {
    flex-basis: 100%;
  }
}
