:root {
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --background: #f0f0f0;
  --main-text: #000000;
  --additional-text: #5c5c5c;
  --accent-color: #28d979;
  --background-block: #ffffff;
  --accent-text-color: #ffffff;
  --background-color-badge: #7e731266;
  --text-badge: #ddf163;
}

* {
  box-sizing: border-box;
}

p,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  color: var(--main-text);
}

/* text styles */

.small-text-semibold {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
}

.ordinary-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.ordinary-text-semibold {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

.enlarged-text {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
}

.enlarged-text-semibold {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
}

.larged-text-bold {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
}

/* main styles */

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 0px;
}

.resume {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.resume__part {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
}

.resume__part_top {
  min-height: 25vh;
  max-height: 30vh;
}

.resume__part_center {
  height: 50vh;
}

.resume__part_bottom {
  min-height: 50vh;
}

.resume__block {
  width: 100%;
  border-radius: 12px;
  background: var(--background);
  padding: 12px;
}

.resume__block_title {
  font-size: 2rem;
  font-weight: 500;
}

/* photo block */

.resume__block_photo {
  flex-basis: 25%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: none;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  flex-grow: 1;
  /* background-image: url('/profileImg.png'); */
  /* background-image: url('/test-photo.jpg'); */
  /* background-image: url('/my-photo.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.resume__block_photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* name block */

.resume__block_name {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
}

.name-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 6px;
  line-height: 1;
}

.name-info > p {
  color: var(--additional-text);
}

/* languages block */

.resume__block_languages {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
}

.languages-info {
  width: 100%;
}

.languages-info__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
  line-height: 1;
}

.languages-info__item {
  width: 100%;
}

.languages-info__item_block {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.languages-info__item_text {
  width: 6.5rem;
}

.languages-info__item_progress-bar {
  height: 1.5rem;
  border-radius: 3px;
  overflow: hidden;
  flex-grow: 1;
  min-width: 0;
}

.languages-info__item_progress {
  width: 100%;
  height: 100%;
  background: var(--accent-color);
}

/* experience block */

.resume__block_experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex-basis: 80%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) var(--background);
}

.resume__block_experience > h2 {
  align-self: start;
}

.experience-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.experience-info__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--background-block);
  padding: 8px;
  border-radius: 10px;
}

.experience-info__item_last {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

.experience-info__item_badge {
  padding: 2px 6px;
  border-radius: 60px;
  color: var(--text-badge);
  background-color: var(--background-color-badge);
}

.experience-info__item_top-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.experience-info__item_main-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 8px;
}

.experience-info__item_position {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 6px;
  flex-basis: 30%;
}

.experience-info__item_description {
  width: 100%;
  flex-grow: 1;
  flex-basis: 60%;
}

.experience-info__item_description-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding-left: 20px;
  list-style-position: inside;
}

.experience-info__item_description-item {
  list-style: disc;
}

/* tools block */

.resume__block_tools {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-basis: 30%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) var(--background);
}

.tools-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
  padding-top: 1rem;
}

.tools-info__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 16px 4px;
  background-color: var(--background-block);
  border-radius: 6px;
  position: relative;
}

.tools-info__item_title {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  padding: 4px 8px;
  background-color: var(--main-text);
  color: var(--accent-text-color);
  border-radius: 20px;
  align-self: center;
}

.tools-info__item_description {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
  justify-items: center;
  align-items: center;
}

.tools-info__item_description > img {
  width: 50px;
  height: 50px;
}

/* education block */

.resume__block_education {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.resume__block_education > h2 {
  align-self: start;
}

.education-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 10px;
}

.education-info__item {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  background-color: var(--background-block);
  padding: 8px;
  border-radius: 10px;
  flex: 1 1 calc(50% - 5px);
  max-width: calc(50% - 5px);
}

.education-info__item_favorite {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

.education-info__item_top {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.education-info__item_top > img {
  width: 1.5rem;
  height: 1.5rem;
}

.education-info__item_main {
  width: 100%;
}

.education-info__item_tags {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  gap: 4px;
}

.education-info__item_tag::before {
  content: '#';
  margin-right: 2px;
}

/* sensitive-info block */

.sensitive-info {
  flex-basis: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* interests block */

.resume__block_interests {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex-grow: 1;
}

.resume__block_interests > h2 {
  align-self: start;
}

.interests-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.interests-info__item {
  padding: 4px 8px;
  background-color: var(--background-block);
  color: var(--main-text);
  border-radius: 20px;
}

/* contacts block */

.resume__block_contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: var(--main-text);
  color: var(--accent-text-color);
}

.resume__block_contacts > h2 {
  align-self: start;
}

.contacts-info {
  width: 100%;
}

.contacts-info__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.contacts-info__item > p::after {
  content: ':';
  margin-left: 4px;
}

.contacts-info__item > a {
  color: var(--accent-text-color);
  text-decoration: none;
}
